.main_navbar {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
    padding-inline: 2rem;
  }
.nav_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
  .nav_col{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2rem;
  }
  
  .logo_container {
    display: flex;
    align-items: center;
   

  }
  
  .nav_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    margin: 0;
    padding-block: 0.5rem;
    background-color: #F6F6F6;
    border-radius: 0.5rem;
    
  }
  
  .nav_list li a {
    text-decoration: none;
    transition: color 0.2s ease;
    text-align: center;
    padding-inline: 1.5rem;

  }

  
  .nav_list li a:hover {
    color: #68AF8B;
  }
  



/* User Col style */
.user_container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    background-color: #F6F6F6;
    border-radius: 0.5rem;
}



/* user acc dropdown */


.dropdown_parent {
  position: relative;
}

.dropdown_button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-align: left;
}

.dropdown_button:hover {
  color: #68AF8B;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #FFFFFF;
  padding: 0.5rem 1rem;
  margin-top: 0.25rem;
  border-radius: 0.25rem;
  list-style: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 9999; 
  width: min-content;
  
}


.dropdown_menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown_link{
  color: #606470;
  transition: color 0.2s ease-in-out;
}

.dropdown_link:hover {
  color: #FFFFFF;
  transition: color 0.2s ease-in-out;
}
.dropdown_menu li a {
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease-in-out;
}

.dropdown_menu li:hover {
  background-color: #68AF8B;
  border-radius: 0.5rem;
  color: #FFFFFF;
  transition: background-color 0.2s ease-in-out;
}
