@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
}

:root{
    --fs-fam:Outfit, sans-serif;

    --fw-light:300;
    --fw-normal:400;
    --fw-semibold:600;
    --fw-bold:800;

    --fs-200:0.5rem;
    --fs-300:0.75rem;
    --fs-400:0.9275rem;
    
    --fs-500:1.25rem;
    --fs-600:1.625rem;
    --fs-700:1.7rem;
    --fs-800:1.9rem;
    --fs-900:2.2rem;
    --fs-1000:2.5rem;

    --txt-clr-light-neutral:#606470;
    --txt-clr-dark-neutral:#333333;
    
    --txt-primary-light:#52C58B;
    --txt-secondary-light:#FFFFFF;
    --txt-tertiary-light:#458E67;

    --padding-spacing:2rem;
}


/* Css Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body{
    height: 100%;
    
}
html{
    font-family: var(--fs-fam);
    font-weight: var(--fw-normal);
    line-height: 1.7;
    color: var(--txt-clr-light-neutral);
    background-color: #FFFFFF;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
    text-decoration: none;
    color: #606470;
}

h1,
h2,
h3{
        color: var(--txt-clr-dark-neutral);
        line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6{
    text-wrap: balance;
}

p,
li,
figcaption{
    text-wrap: pretty;
    max-width: 65ch;
}

header, footer,
main,
section,
article{
    container-type: inline-size;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.fs-300{
    font-size: var(--fs-300);
}
.fs-200{
    font-size: var(--fs-200);
}
.fs-400{
    font-size: var(--fs-400);
}
.fs-500{
    font-size: var(--fs-500);
}

.fs-600{
    font-size: var(--fs-600);
}
.fs-700{
    font-size: var(--fs-700);
}
.fs-900{
    font-size: var(--fs-900);
}
.fs-1000{
    font-size: var(--fs-1000);
}

.txt-color-txt-clr-light-neutral{
    color: var(--txt-clr-light-neutral);
}
.txt-color-txt-clr-dark-neutral{
    color: var(--txt-clr-dark-neutral);
}
.txt-color-txt-clr-dark-primary{
    color: var(--txt-primary-light);
}
.text-primary-style{
    color: #3D683F;
}
.fw-light{
    font-weight: var(--fw-light);
}
.fw-regular{
    font-weight: var(--fw-normal);
}
.fw-semibold{
    font-weight: var(--fw-semibold);
}
.fw-bold{
    font-weight: var(--fw-bold);
}


span{
    color: var(--txt-primary-light);
}

span.sidebar-icon{
    color: #333333;
}
.Container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top center, #b7ebcf 20%, #529270 60%);
}

.Wrapper-wider{
    width: min(90rem, 97% - 2rem);
    margin-inline: auto;
}

.Wrapper{
    width: min(100rem, 95% - 1rem);
    margin-inline: auto;
    font-family: var(--fs-fam);
}

.Wrapper-narrow{
    width: min(100rem, 85% - 5rem);
    margin-inline: auto;
}

img[class]{
    max-width: 4rem;
}

.header-font{
    font-family: Outfit;
}

.input-style{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-inline: 1rem;
    padding-block: 0.5rem;
    width: 100%;
}

.submit-btn{
    background-color: var(--txt-primary-light);
    color: var(--txt-secondary-light);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    width: 100%;
}



.ClientOnlyLayout{
    background: radial-gradient(circle at center center, #b7ebcf 10%, #529270 80%);
    width: 100%;
    position: relative;
}


@media (max-width: 60rem) {
    :root{
        --fs-1000:var(--fs-900);
        --fs-900:var(--fs-800);
        --fs-600:var(--fs-500);
        --fs-500:var(--fs-500);
        --fs-400:var(--fs-300);
        --fs-700:var(--fs-600);
    }
    .custom-modal-content {
        width: 70%;
    }
}

@media (max-width: 45rem) {
    :root{
        --fs-1000:var(--fs-800);
        --fs-900:var(--fs-700);
        --fs-800:var(--fs-700);
        --fs-700:var(--fs-600);
        --fs-600:var(--fs-500);
        --fs-500:var(--fs-400);
        --fs-400:var(--fs-300);
       }
    .custom-modal-content {
        width: 90%;
    }
}



.image-wrapper {
  position: relative;
}

.responsive-img {
  object-fit: contain;
}



/* Kim Css */

.text-center {
    text-align: center;
}

.p-0 {
    padding: 0;
}
.p-05{
    padding: 0.5rem;
}
.m-0 {
    margin: 0;
}

.pr-1{
    padding-right: 2rem;
}

.pl-05{
    padding-left: 0.5rem;
}

.pl-1{
    padding-left: 2rem;
}
.p{
    padding: 3rem;
}
.pt-05{
    padding-top: .5rem;
}
.pt-1{
    padding-top: 1rem;
}
.flex {
    display: flex;
  }
.flex-col {
    flex-direction: column;
  }
.flex-row {
    flex-direction: row;
  }
  .gap-1 {
    gap: 1rem;
  }

  .self-end{
    align-self: end;
  }